.chat-mentor-wrapper {
  display: flex;
  gap: 1rem;
  height: 100%;
  min-height: 400px;
}

.mentor-image {
  flex: 1;
  max-width: 50%;
  object-fit: contain;
  max-height: 100%;
  border-radius: 8px;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 0; /* important for flex scroll */
}

.chat-history {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #00000076;
  background-color: #00000076;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 8px;
  min-height: 250px;
  max-height: 400px;
}
