.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  overflow-y: auto;
  padding: 5vh 1rem;
}

.popup {
  background: white;
  border-radius: 8px;
  max-width: 70vw;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.pdfViewer {
  width: 100%;
  height: 90vh;
  border: none;
  border-radius: 8px;
}

.closeButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1001;
}
